<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">EduVerse</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Course
          </a>
          <ul class="dropdown-menu">
            <!-- Student/User Features -->
            <li class="nav-item" *ngIf="loginDisplay">
              <a class="nav-link" [routerLink]="['/course/enrollments']" routerLinkActive="router-link-active">Enrollments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/course/browseall']" routerLinkActive="router-link-active">All Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/course/category']" routerLinkActive="router-link-active">Categories</a>
            </li>            
          </ul>
        </li>
        <!-- Requests Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="requestsDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Requests
          </a>
          <ul class="dropdown-menu" aria-labelledby="requestsDropdown">
            <li><a class="dropdown-item" [routerLink]="['/technology/request/video']" routerLinkActive="active">Request
                a Video</a></li>
            <li><a class="dropdown-item" [routerLink]="['/technology/requests']" routerLinkActive="active">My
                Requests</a></li>
          </ul>
        </li>
        <!-- Admin Dropdown -->
        <li class="nav-item dropdown" *ngIf="loginDisplay">
          <a class="nav-link dropdown-toggle" id="adminDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="adminDropdown">
            <li><a class="dropdown-item" [routerLink]="['/course/list']" routerLinkActive="active">List
                Courses</a></li>
            <li><a class="dropdown-item" [routerLink]="['/course/create']" routerLinkActive="active">Create
                Course</a></li>
            <li><a class="dropdown-item" [routerLink]="['/admin/technology/requests']" routerLinkActive="active">Video
                Requests</a></li>
            <li>
              <a class="dropdown-item" [routerLink]="['/claims']" routerLinkActive="active">
                Claims
              </a>
            </li>
          </ul>
        </li>
        <!-- About Us -->        
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/plans-and-price']" routerLinkActive="router-link-active">Plans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact-us']" routerLinkActive="router-link-active">ContactUs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about-us']" routerLinkActive="router-link-active">About</a>
        </li>
      </ul>
      
      <!-- <form class="d-flex" role="search"> -->
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
        <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
         
      <!-- </form> -->
      
      <!-- SearchBar -->
      <div #searchBox class="d-flex flex-column position-relative" style="width: 300px;">
        <form class="d-flex" (keydown)="onSearch()" style="width: 100%;">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            [(ngModel)]="searchQuery"
            name="search"
          />          
        </form>

        <!-- Search result dropdown -->
        <div *ngIf="showSearchResults" class="position-absolute bg-white border mt-1 p-2 z-3 shadow-sm" style="top: 100%; left: 0; width: 100%; max-height: 300px; overflow-y: auto;">
          <div *ngIf="loadingSearch">Loading...</div>

          <div *ngIf="!loadingSearch && searchResults.length > 0">
            <div *ngFor="let course of searchResults" class="border-bottom pb-2 mb-2">
              <a [routerLink]="['course/details/', course.courseId]" (click)="showSearchResults = false" class="text-decoration-none text-dark fw-bold">
                {{ course.title }}
              </a>
              <div class="text-muted small">{{ course.category?.categoryName }}</div>
            </div>
          </div>

          <div *ngIf="!loadingSearch && searchResults.length === 0">
            <p class="text-muted m-0">No results found.</p>
          </div>
        </div>
      </div>


      <!-- Login/Logout -->
      <ul class="navbar-nav ms-3">        
        <li class="nav-item d-flex align-items-center">
          <!-- Profile Picture -->
          <img
            *ngIf="profilePictureUrl; else defaultAvatar;loginDisplay"
            [src]="profilePictureUrl"
            alt="Profile Picture"
            class="rounded-circle"
            style="width: 40px; height: 40px; object-fit: cover;"
            [routerLink]="['/user/profile', loginService.userId]"
            routerLinkActive="router-link-active"
            role="button"
          />

          <!-- Default Avatar -->
          <ng-template #defaultAvatar>
            <img
              *ngIf="loginDisplay"
              src="../../../../assets/images/defavatar.jpg"
              alt="Default Avatar"
              class="rounded-circle"
              style="width: 40px; height: 40px; object-fit: cover;"
              [routerLink]="['/user/profile', loginService.userId]"
              routerLinkActive="router-link-active"
              role="button"
            />
          </ng-template>
          <a class="nav-link btn" *ngIf="!loginDisplay" (click)="loginRedirect()">Login</a>
          <a class="nav-link btn" *ngIf="loginDisplay" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>